 .projects-page{
    background-color: rgb(246, 232, 214);
    height: 124.5vh;
}

.page-title {
    text-align: center;
    color: rgb(88, 88, 88);
    padding: 40px 0px 40px 0px;
    text-shadow: 5px 5px 5px grey;
}

.card-wrapper {
    padding: 10px;
    max-width: 380px;
} 

.card-title {
    padding-top: 15px;
    background-color: rgb(250, 204, 146);
} 

.card {
    width: 320px;
    height: 285px;
    padding: 5px;
    border: 3px solid grey;
    border-radius: 6px;
    background-color: rgb(244, 243, 243);
    box-shadow: 0 5px 9px 0 grey, 0 8px 22px 0 grey;
}


.card-links {
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    padding-bottom: 10px;
}


.row {
    padding-bottom: 150px;
}

