.project-card {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(188, 188, 188);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser {
    height: 20px;
    background-color: rgb(188, 188, 188);
    display: flex;
    align-items: center;
    position:sticky
    
}

.p-circle {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 2px;
    background-color: wheat;
}

.p-img {
    width: 100%;
    transition: all 10s ease;
}

.project-card:hover .p.p-img {
    transform: translateY(-100%);
}
