.project-title{
    padding-top: 45px;
}

.card-wrapper {
    padding: 10px;
    max-width: 380px;
} 

.card-title {
    padding-top: 15px;
}

.card {
    width: 400px;
    padding: 3px;
    border: 3px solid #353535;
    border-radius: 15px;
    box-shadow: 0 5px 9px 0 #00000033, 0 8px 22px 0 #00000030;
}


.card-links {
    text-align: center;
    text-decoration: none;
    /* text-decoration-style: solid; */
    /* text-transform: uppercase; */
    padding-bottom: 10px;
}


.row {
    display: inline;
    padding-bottom: 40px;
    padding-top: 30px;
    
}

