.about {
    display: flex;
    height: 88.5vh;
    padding-top: 50px;
    background-color: rgb(246, 232, 214);

}

.about-title1 {
    text-align: center;
    color: rgb(88, 88, 88);
    padding: 35px 0px 40px 0px;
    text-shadow: 5px 5px 5px grey;
}

.about-image {
    width: 85%;
    height: 85%;
    border-radius: 10px;
    border-width: 2px;
    border-radius: 5px;
    border: 2px;
    
}

h5 {
    font-size: 25px;
    text-align: center;
}

.paragraph {
    font-size: 20px;
    text-align: center;
}