* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar {
   margin: 5px;
   padding-left: 10px;
   background-color: rgb(116, 230, 218);
}

.navname {
    color: rgb(80, 80, 80);
    text-indent: 20px;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list-item {
    color: black                ;
    font-weight: bold;
    font-size: 20px;
    text-indent: 50px;
    text-transform: uppercase;
}

