.home {
    display: flex;
    height: 94vh;
    background-image: url('../../../public/image.png');
}

.photo-bg {
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

#home-photo {
    width: 70%;
    height: 70%;
}

@media screen and (max-width: 992px) {
    #home-photo {
        width: 70%;
        height: 70%;
        padding-top: 0px;
    }
    .photo-bg {
        padding-top: 0px;
    }
    
}
	
@media screen and (max-width: 768px) {
    #home-photo {
        max-width: 70%;
        max-height: 70%;
    }
    h1 {
        font-size: 30px;
        padding-top: 30px;
    }
    h4 {
        font-size: 18px;
    }
    .photo-bg {
        padding-top: 0px;
    }
    
}

.home-greet {
    padding-top: 100px;
}
.home-name {
    padding-top: 5px;
    font-size: 40px;
    font-weight: bolder;
}

.home-description {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bolder;
}

.quote {
    padding-top: 50px;
    font-size: 25px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


    